*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
.gradle/6.1.1/fileHashes/fileHashes.lock
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
